@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap');

/* COULEURS */
    $color-primary: #9356DC; $color-secondary: #FF79DA; /* Couleurs à mix pour créer un dégradé : utile pour la couleur du bouton dans le header et du bouton commander,
    la couleur des coeurs sur les restaurants */
    $color-tertiary: #99E2D0;           /* Couleur des étiquettes "Nouveau" à placer en haut à droite des restaurants, du border-bottom des "Entrées, plats, desserts",
    de l'animation de sélection des plats */
    
    $backform: #EAEAEA;                 /* Background du FORM*/
    $backsubheader: #F6F6F6;            /* Background qui englobe le bouton + les deux phrases */
    $hover: #F5EDFF;                    /* Hover des boutons de la catégorie "Fonctionnement" */
/* COULEURS */

/* KEYFRAMES */
@keyframes loader{
    100% {
      opacity: 0;
      z-index: -10;
  }
}
  
@keyframes jump{
    0%{
      transform: translateY(0);
    }
    25%{
      transform: translateY(0.5rem);
    }
    75%{
      transform: translateY(-0.5rem);
    }
    100%{
      transform: translateY(0);
    }
}
  
@keyframes appear{
    0%{
      transform: scale(0);
    }
    100%{
      transform: scale(1);
    }
}
/* KEYFRAMES */

html{
    width: 100vw;
    overflow-x: hidden;
    list-style: none;
}
body {
    box-sizing: border-box;
    text-align: center;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: hsla(0,0%,100%,.9);
    animation: loader 1.5s;
    animation-delay: 1.75s;
    animation-fill-mode: both;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.loader_box{
    display: flex;
    width: 5rem;
    justify-content: space-between;
}
  
.loader_dot{
    height: 4rem;
    width: 1rem;
    border-radius: 1rem;
    animation: jump 1s;
    animation-iteration-count: 3;
}
  
.loader_dot1{
    background-color: #9356dc;
}
  
.loader_dot2{
    background-color: #ff79da;
    animation-delay: .25s;
}
  
.loader_dot3{
    background-color: #99e2d0;
    animation-delay: .5s;
}

.titre{
    box-shadow: inset 0px -2px 3px gray;
}
.logo {
    font-family: "Shrikhand", "sans-serif", "Arial";
    width: auto;
    h1{
        padding: 10px 0px 3px 0px;
        margin: 0px;
        text-align: center;
    }
}

form {
    background-color: $backform;
    margin: 0px -20px 10px -20px;
    input {
        font-family: "Roboto", "sans-serif", "Arial";
        font-weight: 500;
        border: none;
        padding: 15px 0px;
    }
    #lieu {
        background-color: #EAEAEA;
        padding-left: 4px;
    }
    i {
        color: black;
        padding-left: 50px;
    }
}

.header_sub {
    background-color: $backsubheader;
    margin: -10px;
    padding: 15px;
    font-family: "Roboto", "sans-serif", "Arial";
    h3 {
        font-weight: 300;
    }
    button {
        padding: 15px 25px;
        margin: 15px;
        margin-bottom: 25px;
        border-radius: 25px;
        background: rgb(255,121,218);
        background: linear-gradient(174deg, rgba(255,121,218,1) 7%, rgba(153,88,220,1) 77%, rgba(147,86,220,1) 92%, rgba(147,86,220,1) 99%);
        color: #F2E1F8;
        border: none;
        transition-duration: .25s;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        cursor: pointer;
        a {
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 600;
            color: #F2E1F8;
            cursor: pointer;
        }
        &:hover{
            background: linear-gradient(174deg, rgba(255,121,218,1) 29%, rgba(153,88,220,1) 76%, rgba(147,86,220,1) 90%, rgba(147,86,220,1) 100%);
            box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
        }
    }
}
section{
    margin-bottom: 0px;
}
.work{
    margin: 60px 0px;
}
.titre_work{
    text-align: left;
    font-weight: 800;
    font-family: "Roboto";
    padding-left: 5px;
}
.box_work {
    border: none;
    margin: 20px;
    background-color: #F6F6F6;
    border-radius: 25px;
    box-shadow: 0px 5px 5px lightgray;
    transition: all 200ms;
    &:hover{
        transform: scale(0.95);
        cursor: pointer;
        background-color: lighten($color-primary, 35%);
        i{
            color: darken($color-primary, 25%);
        }
    }
}
.box_bubble{
    background: #9356DC;
    border: none;
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    position: relative;
    top: 27px;
    right: 14px;
    span{
        color: #FFF;
        font-weight: 600;
        position: relative;
        top: 7px;
    }
}
.box_text{
    h3{
        font-family: "Roboto", sans-serif, Arial;
        font-size: 1em;
        text-align: center;
        position: relative;
        bottom: 30px;
    }
    i{
        margin-right: 220px;
        position: relative;
        top: 5px;
    }
} 
.restaurants{
    background-color: #F6F6F6;
    margin: -10px;
    padding-bottom: 60px;
    font-family: "Roboto", sans-serif, Arial;
}
.restaurant_titre{
    text-align: left;
    position: relative;
    left: 20px;
    top: 20px;
    margin-bottom: 40px;
    padding-top: 20px;
}
.restaurant_box{
    border-radius: 10px;
    background-color: #FFF;
    box-shadow: 7px 5px 5px lightgray;
    text-align: left;
    padding: 0px;
    margin: 30px;
    height: 230px;
    text-decoration: none;
    transition: all 200ms;
    position: relative;
    h2{
        padding-left: 15px;
        position: absolute;
        font-size: 1.3em;
        font-weight: 600;
        bottom: 1.2em;
    }
    h3{
        font-weight: 300;
        padding-left: 15px;
        position: absolute;
        bottom: 0em;
    }
    .fa-heart{
        position: absolute;
        display: inline-block;
        right: 0.8em;
        bottom: 0.8em;
        height:32px;
        font-size: 2em;
        transition: all 300ms;
        padding: 0px;
        margin: 0px;
        text-decoration: none;
        color: black;
        transition: all 300ms ease-in-out;
        &:hover{
            transform: scale(1.1);
        }
        
    }
    .fa-solid{
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        font-weight: 900;
        opacity: 0;
        color: rgb(255,121,218);
        background-clip: text;
        &:hover{
            opacity: 1;
        }
        &:hover::after{
            opacity: 1;
        }
    }
    
    &:hover{
        transform: scale(0.95);
    }
}

.new_box{
    background-color: $color-tertiary;
    height: 20px;
    width: 70px;
    text-align: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
    strong{
        color: #028867;
        font-size: 0.8em;
    }
}

.image img{
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 10px 10px 0px 0px;
}
footer{
    background-color: #353535;
    height: 175px;
    h1{
        margin: 0px;
        padding: 20px 0px 0px 25px;
        font-size: 1em;
        font-weight: 200;
        text-align: left;
        font-family: "Shrikhand", sans-serif;
        color: #FFF;
    }
    ul{
        font-family: "Roboto", sans-serif, Arial;
        list-style: none;
        text-decoration: none;
        text-align: left;
        color: #FFF;
        margin: 0px;
        padding: 10px 0px 0px 25px;
        li{
            padding: 3px;
            i{
                margin-right: 0px;
                width: 25px;
            }
            a{
                text-decoration: none;
                color: #FFF;
                font-family: "Roboto", sans-serif, Arial;
            }
        }
    }
}

/* BOX PAGES ANNEXES */
.absolute{
    position: absolute;
    width: 100%;
    border-radius: 40px;
    top: 14rem;
    background-color: #FFF;
    padding-top: 15px;
    margin: 0px;
}
nav{
    display: flex;
    height: 50px;
    align-items: center;
    h1{
        display: inherit;
        font-family: "Shrikhand", sans-serif, Arial;
        padding: 75px;
    }
    button{
        width: 50px;
        border: none;
        background-color: white;
    }
}

.image_alf img{
    width: 100%;
    position: relative;
}

.titre_menu{
    font-family: "Shrikhand";
    text-align: left;
    margin-left: 20px;
    margin-right: 30px;
    transition: all 600ms ease-in-out;
    h1{
        display: flex;
        justify-content: space-between;
        font-size: 1.8em;
        padding-top: 15px;
        align-items: center;
        transition: all 600ms ease-in-out;
        .fa-heart{
            position: absolute;
            right: 2rem;
            top: 2rem;
            transition: all 400ms ease-in-out;
            &:hover{
                color: rgb(255,121,218);
                opacity: 1;
                transform: scale(1.1);
            }
        }
        .fa-regular{
            color: gray;
            &:hover{
                opacity: 0;
            }
        }
        .fa-solid{
            opacity: 0;
            font-weight: 900;
        }
    }
}

.menu{
    width: 100%;
    border-radius: 50px;
    margin-bottom: 50px;
    margin-top: -20px;
    margin-left: 5px;
    font-family: "Roboto";
}

.list_menu{
    margin-bottom: 40px;
}

.categorie{
    display: block;
    text-align: left;
    margin-left: 20px;
    font-weight: 400;
}
.border_bottom{
    border: 1px solid $color-tertiary;
    background-color: $color-tertiary;
    width: 40px;
    height: 1px;
    margin-left: 20px;
}
.box_plat {
    display: flex;
    background-color: #FFF;
    border-radius: 15px;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    margin-top: 20px;
    margin-left: 10%;
    animation: appear 1.5s;
    animation-fill-mode: both;
    transform: scale(0);
    width: 80%;
    transition: all 300ms;
    cursor: pointer;
    overflow: hidden;
    direction: ltr;
    .box_anim{
        display: flex;
        justify-content: flex-end;
        margin-right: -4.5rem;
        transition: all 500ms;
        .box_check{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #99e2d0;
            border-radius: 0px 15px 15px 0px;
            width: 70px;
            height: auto;
            i{
                display: flex;
                align-items: center;
                justify-content: center;
                color: #99e2d0;
                background-color: #FFF;
                border-radius: 50%;
                font-weight: 900;
                width: 30px;
                height: 30px;
                transition: all 600ms;
                transform: rotate(190deg);
            }
        }
    }
    .price{
        margin: 1rem 0px;
        display: flex;
        align-items: flex-end;
        font-weight: 900;
        margin-left: auto;
        margin-right: 1rem;
        width: auto;
    }
    .plat_description {
        margin: 1rem;
        overflow: hidden;
        width: auto;
        h4{
            display: block;
            margin: 0px;
            width: 100%;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p{
            display: inline-block;
            margin: 0px;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
        }
    }
}

.box_plat:hover .box_anim{
    margin-right: 0px;
}

.box_plat:hover .box_anim .box_check i{
    transform: rotate(0deg);
}

.box_plat1{
    animation-delay: 0s;
}
  
.box_plat2{
    animation-delay: 1s;
}
  
.box_plat3{
    animation-delay: 2s;
}

.box_plat4{
    animation-delay: 3s;
}

.box_plat5{
    animation-delay: 4s;
}

.box_plat6{
    animation-delay: 5s;
}

.box_plat7{
    animation-delay: 6s;
}

.box_plat8{
    animation-delay: 7s;
}

.box_plat9{
    animation-delay: 8s;
}

.box_plat10{
    animation-delay: 9s;
}
.btn_search{
        padding: 15px 45px;
        margin: 15px;
        margin-bottom: 100px;
        border-radius: 25px;
        background: rgb(255,121,218);
        background: linear-gradient(174deg, rgba(255,121,218,1) 7%, rgba(153,88,220,1) 77%, rgba(147,86,220,1) 92%, rgba(147,86,220,1) 99%);
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        color: #F2E1F8;
        border: none;
        transition-duration: .25s;
        cursor: pointer;
        a {
            text-decoration: none;
            font-size: 1.1em;
            font-weight: 600;
            color: #F2E1F8;
            cursor: pointer;
        }
        &:hover{
            background: linear-gradient(174deg, rgba(255,121,218,1) 29%, rgba(153,88,220,1) 76%, rgba(147,86,220,1) 90%, rgba(147,86,220,1) 100%);
            box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 50%);
        }
}
/*------------------------------*/

@media screen and(min-width: 1200px){
    .logo{
        h1{
            padding-bottom: 10px;
            font-size: 3em;
            letter-spacing: px;
        }
    }
    form{
        font-size: 2em;
        text-align: center;
        input{
            font-size: 0.7em;
        }
    }
    .titre_work{
        display: flex;
        align-items: center;
        margin: 20px;
    }
    .work{
        display: flex;
        width: 100%;
    }
    .box_work{
        width: 25%;
        display: flex;
        .box_bubble{
            background: #9356DC;
            border: none;
            border-radius: 50%;
            height: 1.8em;
            width: 1.8em;
            position: relative;
            top: 20px;
            right: 14px;
            span{
                color: #FFF;
                font-weight: 600;
                position: relative;
                top: 7px;
            }
        }
    }
    .box_text{
        margin-top: 20px;
        margin-bottom: -20px;
        h3{
            align-items: center;
        }
    }
    .restaurants{
        width: 100%;
    }
    .restaurant_titre{
        margin-left: 1rem;
        padding-top: 0.5rem;
    }
    .restaurant_box{
        width: 50%;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .restaurant_flex{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
    }
    nav{
        justify-content: space-between;
        margin: 20px 0px;
        letter-spacing: 5px;
        button{
            i{
            font-size: 2em;
            margin-left: 20px;
            color: black;
            }
        }
        h1{
            margin-right: 600px;
            font-size: 3em;
        }
    }
    .absolute{
        top: 35rem;
    }
    .list_menu{
        display: flex;
    }
    .categorie{
        width: 150px;
        text-align: left;
        margin-top: 50px;
        margin-left: 50px;
        font-weight: 600;
    }
    .border_bottom{
        display: flex;
        margin-top: 55px;
        margin-right: 20px;
        text-align: left;
    }
    .box_plat{
        width: 60%;
        display: flex;
        margin-right: 30px;
        margin-left: 0px;
    }
}